<!-- templates/registration/password_reset_confirm.html -->

{% extends 'base.html' %}
{% block content %}
<div class="container" style="margin-bottom: 20%;">
    <div class='row my-3'></div>
    {% if validlink %}
      <div class="col-6 py-3 d-flex justify-content-center" style="float: none; margin:0 auto;">
        <h2 id="cafe" style="color:#808080;">새로운 비밀번호를 입력하세요</h2>
      </div>
      <form method="POST">
      {% csrf_token %}
        <div class="col-6" style="float: none; margin:0 auto;">
          <div class="row mx-5 my-0 py-2">
            <h4 class='font-wieght-bold' for="id_new_password1" id="cafe" style="color:#808080;">새 비밀번호</h4>
            <input class="form-control navbar_edge_color" type="password" name="new_password1" required id="id_new_password1">
          </div>
          <div class="row mx-5 my-0 py-2">
            <h4 class='font-wieght-bold' for="id_new_password2" id="cafe" style="color:#808080;">새 비밀번호 확인</h4>
            <input class="form-control navbar_edge_color" type="password" name="new_password2" required id="id_new_password2">
          </div>
          <div class="row mx-5 my-0 pb-2">
              <button class='btn main_btn form-control' type="submit"><h4 id="cafe">전송</h4></button>
          </div>
        </div>
      </form>
    {% else %}
    <div class="col-6 py-3 d-flex justify-content-center" style="float: none; margin:0 auto;">
      <h2 id="cafe" class="text-center" style="color:#808080;">비밀번호 변경 주소가 유효하지 않습니다.<br>새로운 주소를 요청하세요.</h2>
    </div>
    {% endif %}
  </div>
{% endblock %}