{% include "base.html" %}

<div class="container my-3">
    <div class="row mt-5"></div>
    <form class="mt-5" method="GET">
        <div class="col">
            <div class="form-row pl-1 pr-1">
                <select class="form-select col-2 header_edge_color text-center rounded" name="type">
                    <option value="title" selected>제목</option>
                    <option value="content">내용</option>
                    <option value="category">카테고리</option>
                </select>
                <input type="text" id="search_kw" name="kw" value="{{ kw|default_if_none:'' }}" 
                class="form-control col-9 header_edge_color text-center" placeholder="검색어를 입력해주세요.">
                <button class="btn btn-outline-secondary col-1 header_edge_color" type="submit" id="search_btn" sytle="margin-top: 5px;"><i class="fa-solid fa-magnifying-glass"></i></button>
            </div>
            <table class="table mt-2">
                <thead>
                <tr class="navbar_color text-center rounded">
                    <th class="text-center text-white">번호</th>
                    <th class="text-center text-white">카테고리</th>
                    <th class="text-center text-white">제목</th>
                    <th class="text-center text-white">작성자</th>
                    <th class="text-center text-white">날짜</th>
                </tr>
                </thead>
                <tbody class="table_bottom">
                    {% if post_list %}
                    {% for post in post_list %}
                    <tr class="text-center text-black table_bottom" style="cursor:pointer;" onclick="location.href='/board/{{ post.id }}/'">
                        <td class="table_bottom">{{ forloop.counter }}</td>
                        <td class="table_bottom">{{ post.board.ctg }}</td>
                        <td class="table_bottom">{{ post.title }}</td>
                        <td class="table_bottom">{{ post.user.username }}</td>
                        <td class="table_bottom">{{ post.regdate | date:"Y-m-d" }}</td>
                    </tr>
                    {% endfor %}
                    {% else %}
                    <tr class="table_bottom">
                        <td class="text-center" colspan="10"><h5>공지가 없습니다.</h5></td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>
    </form>
    <!-- 페이징처리 시작 -->
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if post_list.has_previous %}
        <li class="page-item">
            <a class="page-link header_edge_color" style="color: black;" href="?type={{ type }}&kw={{ kw }}&page={{ post_list.previous_page_number }}">이전</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link header_edge_color" style="color: black;" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in post_list.paginator.page_range %}
        {% if page_number >= post_list.number|add:-5 and page_number <= post_list.number|add:5 %}
        {% if page_number == post_list.number %}
        <li class="page-item" aria-current="page">
            <a class="page-link header_color navbar_edge_color text-white" href="?type={{ type }}&kw={{ kw }}&page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link header_color navbar_edge_color text-white" href="?type={{ type }}&kw={{ kw }}&page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if post_list.has_next %}
        <li class="page-item">
            <a class="page-link header_edge_color" href="?type={{ type }}&kw={{ kw }}&page={{ post_list.next_page_number }}"
                tabindex="-1" style="color: black;">다음</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link header_edge_color" tabindex="-1" aria-disabled="true" href="#" style="color: black;">다음</a>
        </li>
        {% endif %}
    </ul>
    <!-- 페이징처리 끝 -->
    <!-- 관리자만 글쓰기 버튼 활성화-->
    <div class="container-3">
        <div class="col"></div>
        <div class="col"></div>
        <div class="col">
            {% if request.user.is_staff %}
                <div class="row justify-content-end pr-3">
                    <a href="{% url 'board:post_create' %}" class="btn btn-outline-secondary text-white navbar_color">글쓰기</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<script type="text/javascript">
    target = window.location.search.split('&')[0].split('=')[1]
    var type = document.getElementsByTagName('option')
    for (var i = 0; i < 3; i++) {
        if (type[i].value === target) {
            type[i].setAttribute('selected', 'selected')
        }
    }
</script>