{% include "base.html" %}

<!-- 게시물 상세 조회 -->
<div class="row mt-3"></div>
<div class="row mt-3">
    <div class="col"></div>
    <div class="col-6">
        <div class="container rounded" style="border: 2px solid #ff7449;">
            <div class="row">
                <div class="col-2 text-start pl-3 mt-3" style="color:#808080">
                    <p><b>제목</b></p>
                    <p><b>게시일</b></p>
                    <p><b>카테고리</b></p>
                    <hr class="navbar_color">
                    <p><b>내용</b></p>
                </div>
                <div class="col-10 pl-3 mt-3" style="color:#808080">
                    <p><b>{{ post.title }}</b></p>
                    <p><b>{{ post.regdate | date:"Y-m-d" }}</b></p>
                    <p><b>{{ post.board.ctg }}</b></p>
                    <hr class="navbar_color">
                    <div class="row">
                        <div class="col">
                            {% if post.img %}
                            <img class="img-fluid img-thumbnail" src="{{ post.img.url }}" style="width: 50rem; height:30rem;">
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p><b>{{ post.content }}</b></p>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>

<!-- 게시물 수정 삭제 -->
{% if request.user.is_staff %}
<div class="row mt-1">
    <div class="col"></div>
    <div class="col-6">
        <div class="container">
            <div class="row justify-content-end">
                <div class="col"></div>
                <div class="col-3">
                    <div class="row justify-content-end">
                        <a href="javascript:void(0)" class="post_modify btn btn-outline-secondary navbar_color text-white mr-3"
                        data-uri="{% url 'board:post_modify' post.id  %}">수정</a>
                        <a href="javascript:void(0)" class="post_delete btn btn-outline-secondary navbar_color text-white"
                        data-uri="{% url 'board:post_delete' post.id  %}">삭제</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
{% endif%}

<!-- 댓글 조회 -->
<div class="row mt-1 ">
    <div class="col"></div>
    <div class="col-6">
        <div class="container rounded" style="border: 2px solid #ff7449;">
            {% if comments_list %}
            {% for comment in comments_list %}
            <form action="{% url 'board:comment_modify' comment.id %}" method="POST">
                <div class="row">
                    <div class="col-1 mt-1" style="color:#808080">
                        <small><b>{{ comment.user.username }}</b></small>
                    </div>
                    <div class="col-5 mt-1" style="color:#808080">
                        <small><b>{{ comment.regdate }}</b></small>
                    </div>
                    {% comment %} <div class="col-5 d-flex justify-content-start text-white mt-1">
                        {{ comment.user.username }}
                    </div>
                    <div class="col-5 d-flex justify-content-end text-white mt-1">
                        {{ comment.regdate }}
                    </div>
                    <div class="col-2"></div> {% endcomment %}
                </div>
                <div class="row">
                    <div class="col-10 text-white mt-1">
                        <input type="text" class="comment w-75 rounded" name='comment' value="{{ comment.content }}" id="{{comment.id}}_input" readonly required>
                    </div>
                    <div class="col d-flex justify-content-end">
                        {% if request.user.username == comment.user.username %}
                            <a href="javascript:void(0)" class="comment_modify btn btn-outline-secondary text-white navbar_color mr-3" id="{{comment.id}}">수정</a>
                            <button class="comment_submit btn btn-outline-secondary text-white navbar_color mr-3" id="{{comment.id}}_submit" style="display:none">완료</button>
                            <a href="javascript:void(0)" class="comment_cancel btn btn-outline-secondary text-white navbar_color" id="{{comment.id}}_cancel" 
                            data-uri="{% url 'board:post' post.id %}" style="display:none">취소</a>
                            <a href="javascript:void(0)" class="comment_delete btn btn-outline-secondary text-white navbar_color" id="{{comment.id}}_delete"
                            data-uri="{% url 'board:comment_delete' comment.id %}">삭제</a>
                        {% endif%}
                    </div>
                </div>
                <hr class="navbar_color" style="width:100%; margin-bottom:0 boarder:1px;">
            </form>
            {% endfor %}
            {% else %}
            <div class="row justify-content-center" style="color:#808080"><b>등록된 댓글이 없습니다.</b></div>
            {% endif %}
        </div>
    </div>
    <div class="col"></div>
</div>

<!-- 댓글 등록 -->
<div class="row mt-1">
    <div class="col"></div>
    <div class="col-6">
        <div class="container rounded" style="border: 2px solid #ff7449;">
            {% if user.is_authenticated %}
                <form action="" method="POST">
                {% csrf_token %}
                    <div class="row">
                        <div class="col-10 text-white text-start align-self-center mt-2 mb-1">
                            <textarea wrap="hard" name="content" id="content" class="textarea_comment w-75" required></textarea>
                        </div>
                        <div class="col-2 text-white text-start align-self-center mt-1 mb-1">
                            <div class="row justify-content-end">
                                <button class="btn btn-outline-secondary comment_border text-white mr-1"><small><b>댓글 등록</b></small></button>
                            </div>
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
    <div class="col"></div>
</div>


<!-- 댓글 페이징처리 -->
<div class="mt-3">
    <ul class="pagination justify-content-center">
        <!-- 이전페이지 -->
        {% if comments_list.has_previous %}
        <li class="page-item">
            <a class="page-link header_edge_color" style="color: black;" href="?&page={{ comments_list.previous_page_number }}"
                tabindex="-1" style="font-size: 15px;">이전</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link header_edge_color" style="color: black;" tabindex="-1" aria-disabled="true" href="#">이전</a>
        </li>
        {% endif %}
        <!-- 페이지리스트 -->
        {% for page_number in comments_list.paginator.page_range %}
        {% if page_number >= comments_list.number|add:-2.5 and page_number <= comments_list.number|add:7.5 %}
        {% if page_number == comments_list.number %}
        <li class="page-item active" aria-current="page" disabled>
            <a class="page-link header_color navbar_edge_color text-white" href="?&page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link header_color navbar_edge_color text-white" href="?&page={{ page_number }}">{{ page_number }}</a>
        </li>
        {% endif %}
        {% endif %}
        {% endfor %}
        <!-- 다음페이지 -->
        {% if comments_list.has_next %}
        <li class="page-item">
            <a class="page-link header_edge_color" style="color: black;" href="?&page={{ comments_list.next_page_number }}"
                tabindex="1" style="font-size: 15px;">다음</a>
        </li>
        {% else %}
        <li class="page-item">
            <a class="page-link header_edge_color" style="color: black;" tabindex="-1" aria-disabled="true" href="#">다음</a>
        </li>
        {% endif %}
    </ul>
</div>
<!-- 페이징처리 끝 -->

<script type='text/javascript'>
    $(document).ready(function() {
        const delete_post = document.getElementsByClassName("post_delete");
        Array.from(delete_post).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri
                };
            });
        });

        const modify_post = document.getElementsByClassName("post_modify");
        Array.from(modify_post).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 수정하시겠습니까?")) {
                    location.href = this.dataset.uri
                };
            });
        });

        const delete_comment = document.getElementsByClassName("comment_delete");
        Array.from(delete_comment).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 삭제하시겠습니까?")) {
                    location.href = this.dataset.uri
                };
            });
        });

        const modify_comment = document.getElementsByClassName("comment_submit");
        Array.from(modify_comment).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 수정하시겠습니까?")) {
                    location.href = this.dataset.uri
                };
            });
        });

        const comment_cancle = document.getElementsByClassName("comment_cancel");
        Array.from(comment_cancle).forEach(function(element) {
            element.addEventListener('click', function() {
                if(confirm("정말로 취소하시겠습니까?")) {
                    location.href = this.dataset.uri
                };
            });
        });

        $(document).on('click', '.comment_modify', function() {
            input_id = '#' + $(this).attr('id') + "_input"
            $(input_id).removeAttr('readonly')
            // 댓글 수정 완료, 취소 버튼 활성화
            submit_id = '#' + $(this).attr('id') + "_submit" 
            cancle_id = '#' + $(this).attr('id') + "_cancel"
            delete_id = '#' + $(this).attr('id') + "_delete"
            
            $(submit_id).show();
            $(cancle_id).show();
            $(this).hide();
            console.log(this)
            $(delete_id).hide();
        })

        $(document).on('click', '.comment_cancel', function() {
            cancel_id = '#' + $(this).attr('id')
            id = input_id.split('_')[0]
            input_id = id + '_input'

            $(input_id).attr('readonly', true)
            delete_id = id + "_delete"
            modify_id = id
            $(modify_id).show();
            $(delete_id).show();
            $(this).hide();
            $(submit_id).hide();
        })
    })
</script>
