<div class="title1">작성자 : {{ post.user.username }}</div>
<div class="title2">게시일 : {{ post.regdate }}</div>    
<div class="title1">제목 : {{ post.title }}</div>
<div class="container">
    {% if post.img %}
      <a href='/'><img class="image" src="{{ post.img.url }}"/></a>
    {% endif %}
</div>
<div class="title1">{{ post.content }}</div>

{% if request.user.is_staff %}
    <a href="javascript:void(0)" class="delete btn btn-sm btn-outline-secondary"
    data-uri="{% url 'board:post_delete' post.id  %}">삭제</a>
{% endif%}

<script type='text/javascript'>
    const delete_elements = document.getElementsByClassName("delete");
    Array.from(delete_elements).forEach(function(element) {
        element.addEventListener('click', function() {
            if(confirm("정말로 삭제하시겠습니까?")) {
                location.href = this.dataset.uri;
            };
        });
    });
</script>
