div.profile-aria{
    /*레이아웃 설정*/
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%)
}

div.profile {
    width: 150px; 
    height: 200px; 
    border-radius: 70%;
    background: transparent;
}

img.profile-card{
    width: 9.375rem; 
    height: 9.375rem;
    border-radius: 25%;
    object-fit: cover;
}

img.profile-card:hover{
    border: 2px solid black;
    cursor: pointer;
}

p.profile-card {
    color: rgb(0, 0, 0); 
    text-align: center;
}