{% extends "base.html" %}
{% block content %}
<div class='container'>
    <div class="row" style="height: 2rem;"></div>
    <div class='row my-5'></div>
    <div class='col-6' style="float: none; margin:0 auto;">
        <form method="POST" action=".">
            {% csrf_token %}
            <div class='row mx-5'>
                <div class='col mt-4'>
                    <div class="row my-0 pb-2" id='user_id_div'>
                        <h4 class="font-weight-bold" for="id" id="cafe" style="color:#808080">사용자ID</h4>
                        <div class="input-group">
                            <input class="form-control navbar_edge_color" type="text" name="username" id="id"
                                value="{{ form.username.value|default_if_none:'' }}" required>
                        </div>
                    </div>
                    <div class="row my-0 py-0">
                        <small class='pb-1 text-danger'>{{ id_error_msg }}</small>
                    </div>
                    <div class="row my-0 pb-2" >
                        <h4 class="font-weight-bold" for="password" id="cafe" style="color:#808080">비밀번호</h4>
                        <div class="input-group">
                            <input class="form-control navbar_edge_color" type="password" name="password" id="password"
                                value="{{ form.password.value|default_if_none:'' }}" required>
                        </div>              
                    </div>
                    <div class="row my-0 py-0">
                        <small class='pb-1 text-danger'>{{ password_error_msg }}</small>
                    </div>
                    <div class="row my-0 pb-5 justify-content-end">
                        <small>
                            <a href="{% url 'user:forgot_id' %}" style="color: coral;">아이디 찾기</a>
                            |
                            <a href="{% url 'user:password_reset' %}" style="color: coral;">비밀번호 찾기</a>
                        </small>
                    </div>
                    <div class="row my-0 pb-3">
                        <button class="btn main_btn form-control" type="submit" id="cafe">로그인</button>
                    </div>
                    <div class="row my-0" >
                        <button class="btn sub_btn form-control" type="button" id="cafe" onclick="location.href='{% url "user:signup" %}';">회원가입</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="row" style="height: 2rem;"></div>
</div>
{% endblock content %}