{% extends "base.html" %}
{% block content %}
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script>
function selecting(kid_id){
    sessionStorage.setItem('kid_id',kid_id)
    location.href="{% url 'user:kid_update_each' %}"
}
</script>
<div>
    {% for kid in kid_set %}
    <div> 
        {# 아이 사진 보여주기 #}
        <img src="{{ kid.img.url }}" class="img-responsive" style="width: 10%; float: left; margin-right: 10px;"
            onclick="selecting({{ kid.id }})"/>  
        {# 아이 이름과 나이 보여주기 #}
        <a href="#" onclick="selecting({{ kid.id }})">{{ kid.name }}</a>
    </div>
    {% endfor %}
    <div>
        <button><span style="text-decoration: double;"> <a href="{% url 'user:kid_register' %}" style = "color : #fff" >아이정보등록하기</a></span></button>
    </div>
</div>
{% endblock content %}