{% extends "base.html" %}
{% block style %}
    <link rel="stylesheet" href="../../static/user/css/select_page.css">
{% endblock %}
{% block content %}
    <!-- 아이 사진 클릭 시 세션에 아이 정보를 남기는 부분 -->
<script src="../../static/user/js/select_page.js"></script>
<script>
    function selecting(kid_id) {
        sessionStorage.removeItem('kid_id')
        sessionStorage.setItem('kid_id', kid_id)
        $.ajax({
            url: 'kid',
            method: 'post',
            data: {kid_id: kid_id}
        }).done(function() {
            location.href='http://127.0.0.1:8000/meal/meal'
        })
    }
</script>
<div class="container">
    <div class="row my-5"></div>
    <div class="row pb-2 my-2 justify-content-center">
        {% for kid in kid_set %}
        <div class="mx-3 profile" onclick="selecting( {{ kid.id }} )">
            {% if kid.img %}
            <img src="{{ kid.img.url }}" class="profile-card" id="kid_{{ kid.id }}"/>
            <p class="profile-card"><h4 class="text-center" id="cafe" style="color:#808080;">{{ kid.name }}</h4></p>
            {% else %}
            <img src="{{ '../../static/images/kid_profile_default.PNG' }}" class="profile-card" id="kid_{{ kid.id }}"/>
            <p class="profile-card">{{ kid.name }}</p>
            {% endif %}
        </div>
        {% empty %}
        <div class="mx-3 profile">
            <a href="{% url 'user:kid_register' %}">
                <img src="../../static/images/kid_profile_default.PNG" class="profile-card"/>
            </a>
        </div>
        {% endfor %}
    </div>
    <div class="row justify-content-center"></div>        
    <!-- 아이 추가 버튼 -->
    <div class="col text-center">
        <button class="btn main_btn" id="cafe" onclick="location.href= '{% url "user:kid_register" %}';">아이 등록하기</button>
    </div>
</div>
{% endblock %}