{% load static %}
<footer class='container-fluid headerFooter' style='bottom: 0;'>
   <div class='row mt-5 mb-0 py-4'>
      <div class='col-1'>
      </div>
      <div class='col'>
         <div class='row mt-3'>
            <small>
               팀명 수도권 5반 10조&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
               팀원 김상훈, 김희준, 박유진, 서승우, 송정우, 이정현&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
               E&nbsp;&nbsp;team.mealkid@gmail.com&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
               F&nbsp;&nbsp;070-777-7777&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;
               경기도 성남시 분당구 불정로 90 KT 본사 (13606)
            </small>
         </div>
      </div>
      <div class='col ml-4'>
         <div class='row mt-1 justify-content-end'>
            <a href="https://github.com/AIVLE-School-first-Big-Project/Class5_Team_10" target="_blank">
                <img src="{% static 'images/GitHub-Mark-64px.png' %}" style="width: 2rem; height: 2rem;">
                <img src="{% static 'images/GitHub_Logo.png' %}" style="width: 5rem; height: 2rem;">
            </a>
         </div>
         <div class='row mt-1 justify-content-end'>
            <small>
               Ⓒ MealKid Corp. All rights reserved.
            </small>
         </div>
      </div>
      <div class='col-1'>
      </div>
   </div>
</footer>