<!-- head 영역 -->
<!-- lib -->
<link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<!-- <script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script> -->
<!-- lib -->
<script>
    $(document).ready(function() {
        $('#id').click(function() {
            console.log('test')
        })
    })
</script>
<body>
    <div class="container my-3">
        <div class="row">
            <div class="col"></div>
            <div class="col-8 w-100">
                <div class="text-center">날짜(달력)</div>
            </div>
            <div class="col"></div>
        </div>
        <div class="row mt-3">
            <div class="col d-flex justify-content-center">자녀 정보</div>
            <div class="col">
                <div class="row d-flex justify-content-center">
                    <img src=""/>
                </div>
                <div class="row d-flex justify-content-center">
                    <button id="id">식단이미지업로드1</button>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col">식단1</div>
                </div>
            </div>
            <div class="col">
                <div class="row d-flex justify-content-center">
                    <img src=""/>
                </div>
                <div class="row d-flex justify-content-center">
                    <button id="id">식단이미지업로드2</button>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col">식단2</div>
                </div>
            </div>
            <div class="col">
                <div class="row d-flex justify-content-center">
                    <img src=""/>
                </div>
                <div class="row d-flex justify-content-center">
                    <button id="id">식단이미지업로드3</button>
                </div>
                <div class="row d-flex justify-content-center">
                    <div class="col">식단3</div>
                </div>
            </div>
        </div>
    </div>
</body>