<!-- head 영역 -->
{% load static %}
<!-- lib -->
<link rel="stylesheet" href="http://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"/>
<script src='https://code.jquery.com/jquery-3.6.0.min.js'></script>
<script src='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js'></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"/> <!-- 기호 사용 -->

<!-- 데이트피커 -->
<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>  

<!-- lib -->
{% block content %}
<style>
#morning_previewImg, #lunch_previewImg, #evening_previewImg {
    margin: 1rem;
    width: 18rem;
    height: 15rem;
}
.frame {
    height: 20rem;
}
.img {
    width: 75%;
    height: 15rem;
}

.meal {
    width: 75%;
    border: rgb(189, 188, 188) 1px solid;
}

.search_result {
    height: 20rem;
}

.picked_food_list {
    height: 1rem;
}

.picked_food {
    border:rgb(189, 188, 188) 1px solid;
    border-radius: 5%;
    background-color: #e7e7e7;
}

.nav_bar {
    border: rgb(189, 188, 188) 1px solid;
}

.nav_btn {
    border: 0;
    background-color: rgb(255, 255, 255);
}
</style>
<script>
function modal_show(meal) {
    let meal_time

    if (meal == 'morning') meal_time = '아침'
    else if (meal == 'lunch') meal_time = '점심'
    else meal_time = '저녁'
    
    if ($('#' + meal).attr('src') != "{% static 'image/식판.jpg' %}") {
        $('#' + meal + '_modal img').attr('src', $('#' + meal).attr('src'))
    } else {
        $('#' + meal + '_modal img').attr('src', "{% static 'image/식판.jpg' %}")
    }

    $('#' + meal + '_fileBtn').val('')
    $('#' + meal + '_modal').modal('show')
}

function meal_upload(meal) {
    if (!$('#' + meal + '_fileBtn').val())
         $('#' + meal + '_mod').attr('disabled', 'disabled')

    $('#' + meal + '_fileBtn').change(function() {
        if(this.files[0]) {
            let reader = new FileReader()
            reader.readAsDataURL(this.files[0])
    
            reader.addEventListener('load', function() {
                $('#' + meal + '_previewImg').attr('src', reader.result)
                readerResult = reader.result
            }, false)
        }
        $('#' + meal + '_upload').removeAttr('disabled')
    })

    $('#' + meal + '_upload').click(function() {
        meal_img = $('#' + meal + '_previewImg').attr('src')
        $('#' + meal).attr('src', meal_img)

        let form = $('#' + meal + '_form')[0]
        let formData = new FormData(form)

        formData.append('meal_img', $('#' + meal + '_fileBtn')[0].files[0])  // 식단 이미지 사진

        $.ajax({
            url: 'upload',
            method: 'post',
            enctype: 'multipart/form-data',
            data: formData,
            contentType: false,
            processData: false,
        }).done(function(results) {
            results = results.replaceAll(',', '')
            results = results.split(' ')
            results_length = results.pop()
            console.log(results)
            console.log(results_length)
            if (results) {
                $.each(results, function(idx, food) {
                    add_food_place = '#' + meal + '_food_form .add_food'
                    $(add_food_place).before(
                        '<div class="row ml-1 mr-1 mt-3 mb-3">' +
                            '<input class="col w-100 mr-1" disabled value=' + food + ' name="food"/>' +
                            '<select name="portions">' +
                                '<option value="1인분">1인분</option>' +
                                '<option value="0.5인분">0.5인분</option>' +
                                '<option value="1.5인분">1.5인분</option>' +
                            '</select>' +
                            '<button class="btn btn-secondary ml-1 del_food_btn" id="del_' + meal + food + '_btn">삭제</button>' +
                        '</div>'
                    )
                })
            }
        })
        $('.' + meal + '_upload').attr('disabled', 'disabled')
        $('#' + meal + '_modal').modal('hide')
        $('.' + meal + '_del_btn').removeAttr('disabled')
    })
}

function del_meal_diet(meal) {
    let regdate = $('#datepicker').val()
    let meal_time

    if (meal == 'morning') meal_time = '아침'
    else if (meal == 'lunch') meal_time = '점심'
    else meal_time = '저녁'

    $('#del_modal').modal('show')
    $('#delete_Btn').click(function() {
        $.ajax({
            url: 'del_meal_diet',
            method: 'delete',
            data: JSON.stringify({
                regdate: regdate,
                meal_time: meal_time
            }),
            contentType: 'application/json'
        }).done(function(result) {
            $('#' + meal).attr('src', "{% static 'image/식판.jpg' %}")
            $('.' + meal + '_del_btn').attr('disabled', 'disabled')
            $('.' + meal + '_upload').removeAttr('disabled')
            $('#' + meal +'_food_form div').remove()
            $('#' + meal +'_frame .add_food').removeAttr('disabled')
            $('#' + meal +'_frame .result_btn').removeAttr('disabled')
            $('#del_modal').modal('hide')
        })
    })
}

$(document).ready(function() {
    // 데이트피커
    //input을 datepicker로 선언
    $("#datepicker").datepicker({
        dateFormat: 'yy-mm-dd', //달력 날짜 형태
        showOtherMonths: true, //빈 공간에 현재월의 앞뒤월의 날짜를 표시
        showMonthAfterYear:true, // 월- 년 순서가아닌 년도 - 월 순서
        changeYear: true, //option값 년 선택 가능
        changeMonth: true, //option값  월 선택 가능                
        showOn: "both", //button:버튼을 표시하고,버튼을 눌러야만 달력 표시 ^ both:버튼을 표시하고,버튼을 누르거나 input을 클릭하면 달력 표시  
        buttonImage: "http://jqueryui.com/resources/demos/datepicker/images/calendar.gif", //버튼 이미지 경로
        buttonImageOnly: true, //버튼 이미지만 깔끔하게 보이게함
        buttonText: "선택", //버튼 호버 텍스트              
        yearSuffix: "년", //달력의 년도 부분 뒤 텍스트
        monthNamesShort: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'], //달력의 월 부분 텍스트
        monthNames: ['1월','2월','3월','4월','5월','6월','7월','8월','9월','10월','11월','12월'], //달력의 월 부분 Tooltip
        dayNamesMin: ['일','월','화','수','목','금','토'], //달력의 요일 텍스트
        dayNames: ['일요일','월요일','화요일','수요일','목요일','금요일','토요일'], //달력의 요일 Tooltip
        minDate: "-5Y", //최소 선택일자(-1D:하루전, -1M:한달전, -1Y:일년전)
        maxDate: "+5y" //최대 선택일자(+1D:하루후, -1M:한달후, -1Y:일년후)  
    })
    
    $('.morning_upload').click(function() {
        modal_show('morning')        
        meal_upload('morning')
    })

    $('.lunch_upload').click(function() {
        modal_show('lunch')
        meal_upload('lunch')
    })

    $('.evening_upload').click(function() {
        modal_show('evening')
        meal_upload('evening')
    })

    $('.morning_del_btn').click(function() {
        del_meal_diet('morning')
    })

    $('.lunch_del_btn').click(function() {
        del_meal_diet('lunch')
    })

    $('.evening_del_btn').click(function() {
        del_meal_diet('evening')
    })

    // 검색 모달 띄우고 결과값 들어가게
    $('.add_food').click(function() {
        
        // 들어갈 폼 - 전역변수 선언
        window.parent_food_form = $(this).parent().attr('id')
        window.food_list = []  // 전역변수 선언

        $('.food_table').empty()
        $('.picked_food_list').empty()
        $.ajax({
            url: 'food_list',
            method: 'post',
        }).done(function(foods) {
            if (foods) {
                foods = foods.split(' ')
                $.each(foods, function(idx, food) {
                    if (food) {
                        $('.food_table').append(`<div class="mb-3 ml-5"><input type="checkbox" name="food" value="${food}" id="${food}"/> ${food}</div>`)
                    }
                })
            }
        })
        $('.food_input').val('')
        $('#food_search').modal('show')
    })

    // 실시간 검색
    let old_val
    $(".food_input").on("propertychange change keyup paste input", function(){
        let current_val = $(this).val()
        if (current_val == old_val) {
            return
        }
        old_val = current_val
        $.ajax({
            url: 'search_food_list',
            method: 'post',
            data: JSON.stringify({
                search_data: $('.food_input').val()
            }),
            contentType: 'application/json'
        }).done(function(foods) {
            $('.food_table').empty()
            if (foods) {
                foods = foods.split(' ')
                $.each(foods, function(idx, food) {
                    if (food) {
                        $('.food_table').append(`<div class="mb-3 ml-5"><input type="checkbox" name="food" value="${food}" id="${food}"/> ${food}</div>`)
                    }
                })
            } else if (!foods) {
                $('.food_table').append('<font class="d-flex justify-content-center" color="red">『' + $('.food_input').val() + '』에 대한 검색 결과가 존재하지 않습니다.</font>')
            }
        })
    })

    $('.search_food').click(function() {
        if (!($('.food_input').val())) {
            $('.food_table').empty()
            $('.food_table').append('<font class="d-flex justify-content-center" color="red">한 글자 이상 검색해주세요.</font>')
        }
    })
    
    // 검색창에서 음식 선택
    $(document).on('click', 'input:checkbox', function() {
        food_id = $(this).attr('id')
        check_id = '#' + food_id
        if($(check_id).is(':checked')) {
            $('.picked_food_list').append(`<button class="mr-1 p-1 picked_food" id="${food_id}"><small>${food_id} x</small></button>`)
            window.food_list.push(food_id)
        }
    })

    // 검색창에서 선택된 음식 삭제 & 체크박스 해제
    $(document).on('click', '.picked_food', function() {
        food_id = $(this).attr('id')
        picked_id = '#' + food_id
        $('input:checkbox[id="' + food_id +'"]').prop('checked', false)
        $('button' + picked_id).remove()

        // 전역변수에서도 해당 음식 삭제
        for(let i = 0; i < window.food_list.length; i++) {
            if (window.food_list[i] === food_id) {
                window.food_list.splice(i, 1)
                i--
            }
        }
    })

    // 음식 검색 후 음식 추가
    $('#add_Btn').click(function() {
        add_food_place = '#' + window.parent_food_form + ' .add_food'
        cnt = $('.picked_food_list').children().length

        for (let i = 0; i < cnt; i++) {
            $(add_food_place).before(
                '<div class="row ml-1 mr-1 mt-3 mb-3">' +
                    '<input class="col w-100 mr-1" disabled value=' + window.food_list[i] + ' name="food"/>' +
                    '<select name="portions">' +
                        '<option value="1인분">1인분</option>' +
                        '<option value="0.5인분">0.5인분</option>' +
                        '<option value="1.5인분">1.5인분</option>' +
                    '</select>' +
                    '<button class="btn btn-secondary ml-1 del_food_btn" id="del_' + window.parent_food_form + window.food_list[i] + '_btn">삭제</button>' +
                '</div>'
            )
        }
        $('#food_search').modal('hide')
    })
    // 음식 삭제
    $(document).on('click', '.del_food_btn', function() {
        btn_id = '#' + $(this).attr('id')
        $(btn_id).parent().remove()
    })

    // 식단 결과 확인 - meal, diet 객체 생성
    $('.result_btn').click(function() {
        food_form = '#' + $(this).parent().parent().attr('id') + ' div:nth-child(2)'
        console.log(food_form)
        food_row = '#' + $(food_form).attr('id') + ' input'
        food_row_portions = '#' + $(food_form).attr('id') + ' select option:selected'
        food_result = []
        portions = []

        if ($(food_row).val()) {
            for(let i = 0; i < $(food_row).length; i++) {
                food_result.push($(food_row).eq(i).val())
                portions.push($(food_row_portions).eq(i).val())
            }
            let meal = $(this).parent().parent().attr('id').replace('_frame', '')
            let form = $('#' + meal + '_form')[0]
            let formData = new FormData(form)
            formData.append('meal_img', $('#' + meal + '_fileBtn')[0].files[0])
            formData.append('date', $('#datepicker').val())
            formData.append('frame', $(food_form).attr('id'))
            formData.append('food_result', food_result)
            formData.append('portions', portions)

            $.ajax({
                url: 'meal_diet',
                method: 'post',
                enctype: 'multipart/form-data',
                data: formData,
                contentType: false,
                processData: false,
            }).done(function(results) {
                console.log('gg')
            })
            $(this).attr('disabled', 'disabled')
            $('.' + meal + '_upload').attr('disabled', 'disabled')
            $('.' + meal + '_del_btn').removeAttr('disabled')
            $('#' + $(food_form).attr('id') + ' .del_food_btn').attr('disabled', 'disabled')
            $('#' + $(food_form).attr('id') + ' select').attr('disabled', 'disabled')
            $('#' + $(food_form).attr('id') + ' .add_food').attr('disabled', 'disabled')
        } else console.log('no')
    })
})
</script>
<body>
    <div class="container my-3">
        <div class="row">
            <form class="col w-100" action="./" method="post">
                {% if date %}
                <input type="text" name="datepicker" id="datepicker" value="{{ date }}">
                <button class="btn btn-secondary" id ="date">선택</button>
                {% else %}
                <input type="text" name="datepicker" id="datepicker">
                <button class="btn btn-secondary" id ="date">선택</button>
                {% endif %}
            </form>
            <!-- nav bar -->
            <div class="col w-100 mt-3 mb-3 nav_bar">
                <div class="row">
                    <button class="col d-flex justify-content-center nav_btn m-1" onclick="location.href='./#morning_row'">아침</button>
                    <button class="col d-flex justify-content-center nav_btn m-1" onclick="location.href='./#lunch_row'">점심</button>
                    <button class="col d-flex justify-content-center nav_btn m-1" onclick="location.href='./#evening_row'">저녁</button>
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col d-flex justify-content-center mt-3 mb-3 mr-3">자녀 정보</div>
        </div>
        <!-- 아침 -->
        <div class="row" id="morning_row">
            <div class="col ml-3 frame">
                {% if morning_meal.0.img %}
                <div class="row d-flex justify-content-center mb-3">
                    <img class="img" id="morning" src="{{ morning_meal.0.img.url }}"/>
                </div>
                {% else %}
                <div class="row d-flex justify-content-center mb-3">
                    <img class="img" id="morning" src="{% static 'image/식판.jpg' %}" alt="이미지가 존재하지 않습니다."/>
                </div>
                {% endif %}
                {% if morning_meal %}
                <div class="row d-flex justify-content-center mb-3">
                    <button class="btn btn-outline-secondary morning_upload mr-1" disabled>아침 식단 업로드</button>
                    <button class="btn btn-secondary morning_del_btn">삭제</button>
                </div>
                {% else %}
                <div class="row d-flex justify-content-center mb-3">
                    <button class="btn btn-outline-secondary morning_upload mr-1">아침 식단 업로드</button>
                    <button class="btn btn-secondary morning_del_btn" disabled>삭제</button>
                </div>
                {% endif %}
            </div>
            <div class="col mb-3 meal frame" id="morning_frame" style="overflow-y: auto;">
                <div class="row mt-3 d-flex justify-content-center">오늘의 아침 식단</div>
                <div class="row d-flex justify-content-center mt-3 p-2" id="morning_food_form">
                    {% if morning_meal %}
                        {% for diet in morning_diet %}
                        <div class="row ml-1 mr-1 mt-3 mb-3">
                            <input class="col w-100 mr-1" value="{{ diet.nutrition.food }}" name="food" disabled/>
                            <select name="portions" disabled>
                                <option value="{{ diet.portions }}인분">{{ diet.portions }}인분</option>
                            </select>
                            <button class="btn btn-secondary ml-1 del_food_btn" id="del_morning{{ diet.nutrition.food }}_btn" disabled>삭제</button>
                        </div>
                        {% endfor %}
                        <button class="btn btn-outline-secondary mt-1 w-75 add_food" disabled>식단 추가</button>
                    {% else %}
                    <button class="btn btn-outline-secondary mt-1 w-75 add_food">식단 추가</button>
                    {% endif %}
                </div>
                <div class="row d-flex justify-content-center mt-2 meal_submit">
                    {% if morning_diet %}
                    <button class="btn btn-secondary w-75 result_btn" disabled>결과 확인</button>
                    {% else %}
                    <button class="btn btn-secondary w-75 result_btn">결과 확인</button>
                    {% endif %}
                </div>
            </div>
            <div class="col mb-3 meal frame" style="overflow-y: auto;">
                <div class="row mt-3 d-flex justify-content-center">아침 식단 결과</div>
            </div>
        </div>
        <!-- 점심 -->
        <div class="row" id="lunch_row">
            <div class="col ml-3 frame">
                {% if lunch_meal.0.img %}
                <div class="row d-flex justify-content-center mb-3">
                    <img class="img" id="lunch" src="{{ lunch_meal.0.img.url }}"/>
                </div>
                {% else %}
                <div class="row d-flex justify-content-center mb-3">
                    <img class="img" id="lunch" src="{% static 'image/식판.jpg' %}" alt="이미지가 존재하지 않습니다."/>
                </div>
                {% endif %}
                {% if lunch_meal %}
                <div class="row d-flex justify-content-center mb-3">
                    <button class="btn btn-outline-secondary lunch_upload mr-1" disabled>점심 식단 업로드</button>
                    <button class="btn btn-secondary lunch_del_btn">삭제</button>
                </div>
                {% else %}
                <div class="row d-flex justify-content-center mb-3">
                    <button class="btn btn-outline-secondary lunch_upload mr-1">점심 식단 업로드</button>
                    <button class="btn btn-secondary lunch_del_btn" disabled>삭제</button>
                </div>
                {% endif %}
            </div>
            <div method="post" class="col mb-3 meal frame" id="lunch_frame" style="overflow-y: auto;">
                <div class="row mt-3 d-flex justify-content-center">오늘의 점심 식단</div>
                <div class="row d-flex justify-content-center mt-3 p-2" id="lunch_food_form">
                    {% if lunch_meal %}
                        {% for diet in lunch_diet %}
                        <div class="row ml-1 mr-1 mt-3 mb-3">
                            <input class="col w-100 mr-1" value="{{ diet.nutrition.food }}" name="food" disabled/>
                            <select name="portions" disabled>
                                <option value="{{ diet.portions }}인분">{{ diet.portions }}인분</option>
                            </select>
                            <button class="btn btn-secondary ml-1 del_food_btn" id="del_morning{{ diet.nutrition.food }}_btn" disabled>삭제</button>
                        </div>
                        {% endfor %}
                        <button class="btn btn-outline-secondary mt-1 w-75 add_food" disabled>식단 추가</button>
                    {% else %}
                    <button class="btn btn-outline-secondary mt-1 w-75 add_food">식단 추가</button>
                    {% endif %}
                </div>
                <div class="row d-flex justify-content-center mt-2 meal_submit">
                    {% if lunch_diet %}
                    <button class="btn btn-secondary w-75 result_btn" disabled>결과 확인</button>
                    {% else %}
                    <button class="btn btn-secondary w-75 result_btn">결과 확인</button>
                    {% endif %}
                </div>
            </div>
            <div class="col mb-3 meal frame" style="overflow-y: auto;">
                <div class="row mt-3 d-flex justify-content-center">점심 식단 결과</div>
            </div>
        </div>
        <!-- 저녁 -->
        <div class="row" id="evening_row">
            <div class="col ml-3 frame">
                {% if evening_meal.0.img %}
                <div class="row d-flex justify-content-center mb-3">
                    <img class="img" id="evening" src="{{ evening_meal.0.img.url }}"/>
                </div>
                {% else %}
                <div class="row d-flex justify-content-center mb-3">
                    <img class="img" id="evening" src="{% static 'image/식판.jpg' %}" alt="이미지가 존재하지 않습니다."/>
                </div>
                {% endif %}
                {% if evening_meal %}
                <div class="row d-flex justify-content-center mb-3">
                    <button class="btn btn-outline-secondary evening_upload mr-1" disabled>저녁 식단 업로드</button>
                    <button class="btn btn-secondary evening_del_btn">삭제</button>
                </div>
                {% else %}
                <div class="row d-flex justify-content-center mb-3">
                    <button class="btn btn-outline-secondary evening_upload mr-1">저녁 식단 업로드</button>
                    <button class="btn btn-secondary evening_del_btn" disabled>삭제</button>
                </div>
                {% endif %}
            </div>
            <div class="col mb-3 meal frame" id="evening_frame" style="overflow-y: auto;">
                <div class="row mt-3 d-flex justify-content-center">오늘의 저녁 식단</div>
                <div class="row d-flex justify-content-center mt-3 p-2" id="evening_food_form">
                    {% if evening_meal %}
                        {% for diet in evening_diet %}
                        <div class="row ml-1 mr-1 mt-3 mb-3">
                            <input class="col w-100 mr-1" value="{{ diet.nutrition.food }}" name="food" disabled/>
                            <select name="portions" disabled>
                                <option value="{{ diet.portions }}인분">{{ diet.portions }}인분</option>
                            </select>
                            <button class="btn btn-secondary ml-1 del_food_btn" id="del_morning{{ diet.nutrition.food }}_btn" disabled>삭제</button>
                        </div>
                        {% endfor %}
                        <button class="btn btn-outline-secondary mt-1 w-75 add_food" disabled>식단 추가</button>
                    {% else %}
                    <button class="btn btn-outline-secondary mt-1 w-75 add_food">식단 추가</button>
                    {% endif %}
                </div>
                <div class="row d-flex justify-content-center mt-2 meal_submit">
                    {% if evening_diet %}
                    <button class="btn btn-secondary w-75 result_btn" disabled>결과 확인</button>
                    {% else %}
                    <button class="btn btn-secondary w-75 result_btn">결과 확인</button>
                    {% endif %}
                </div>
            </div>
            <div class="col mb-3 meal frame" style="overflow-y: auto;">
                <div class="row mt-3 d-flex justify-content-center">저녁 식단 결과</div>
            </div>
        </div>
    </div>
</body>
<!-- 모달 -->
<div class="modal fade" id="morning_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong>아침 식단 업로드</strong>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <form id="morning_form" class="modal-body text-center" method="post" enctype="multipart/form-data">
                <img id="morning_previewImg" src="{% static 'image/식판.jpg' %}" alt="이미지가 존재하지 않습니다."/>
                <input type="file" id="morning_fileBtn" accept=".jpg, .png"/>
            </form>
            <div class="modal-footer justify-content-center">
                <button class="btn btn-outline-secondary" data-dismiss="modal">취소</button>
                <button class="btn btn-secondary" id="morning_upload">&nbsp;&nbsp;&nbsp;업로드&nbsp;&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="lunch_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong>점심 식단 업로드</strong>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <form id="lunch_form"  class="modal-body text-center">
                <img id="lunch_previewImg" src="{% static 'image/식판.jpg' %}" alt="이미지가 존재하지 않습니다."/>
                <input type="file" id="lunch_fileBtn" accept=".jpg, .png"/>
            </form>
            <div class="modal-footer justify-content-center">
                <button class="btn btn-outline-secondary" data-dismiss="modal">취소</button>
                <button class="btn btn-secondary" id="lunch_upload">&nbsp;&nbsp;&nbsp;업로드&nbsp;&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="evening_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong>저녁 식단 업로드</strong>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <form id="evening_form"  class="modal-body text-center">
                <img id="evening_previewImg" src="{% static 'image/식판.jpg' %}" alt="이미지가 존재하지 않습니다."/>
                <input type="file" id="evening_fileBtn" accept=".jpg, .png"/>
            </form>
            <div class="modal-footer justify-content-center">
                <button class="btn btn-outline-secondary" data-dismiss="modal">취소</button>
                <button class="btn btn-secondary" id="evening_upload">&nbsp;&nbsp;&nbsp;업로드&nbsp;&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>
<!-- 음식 검색 모달 -->
<div class="modal fade" id="food_search" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong>음식 검색</strong>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <div class="row">
                    <div class="col d-flex justify-content-end">
                        <input type="text" class="text-center w-50 ml-3 food_input" placeholder="한 글자 이상을 입력하세요."/>
                        <button class="btn border search_food"><i class="fa-solid fa-magnifying-glass"></i></button>
                    </div>
                </div>
                <div class="row mt-3 mb-3 search_result" style="overflow-y: auto;">
                    <div class="row mb-3 ml-5 picked_food_list"></div>
                    <table class="w-100 food_table"></table>
                </div>
            </div>
            <div class="modal-footer justify-content-center">
                <button class="btn btn-outline-secondary" data-dismiss="modal">취소</button>
                <button class="btn btn-secondary" id="add_Btn">&nbsp;&nbsp;&nbsp;추가&nbsp;&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>
<!-- 이미지 삭제 모달 -->
<div class="modal fade" id="del_modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <strong>식단 이미지 삭제</strong>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>
            <div class="modal-body text-center">
                <strong><font color="red">정말 삭제하시겠습니까 ?</font></strong>
            </dov>
            <div class="modal-footer justify-content-center">
                <button class="btn btn-outline-secondary" data-dismiss="modal">취소</button>
                <button class="btn btn-secondary" id="delete_Btn">&nbsp;&nbsp;&nbsp;삭제&nbsp;&nbsp;&nbsp;</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}